body {
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1365x2048/038fa5123fba6f29d3a22c8481c3add6/photo-1545072559-7d4800d1b871");
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  height: 100vh;
  margin: 0px;
}